@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'atmospheric';
    src: url('/dist/fonts/aAtmospheric.ttf') format('truetype'), 
         url('/fonts/ArduinoFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}  